<template>
  <div>
    <div id="hat">
      <img :src="'src/assets/logo.JPG'" alt />
      <div id="logo">
        <span>SIEM SYSTEM</span>
      </div>
      <div id="menu">
        <div id="menu-nav">
          <router-link to="/">STATISTIC</router-link>
          <router-link to="/events">EVENTS</router-link>
          <router-link to>CORRELATION</router-link>
          <router-link to>INCIDENTS</router-link>
          <router-link to>SIMPTOMS</router-link>
          <router-link to>VULNERABILITY</router-link>
          <router-link to>SETTINGS</router-link>
        </div>
      </div>
      <div id="log_out">
        <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>
      </div>
    </div>
    <hr />
  </div>
</template>

<style scoped>
#hat {
  display: flex;
  font-size: 1.5rem;
  margin: 10px 0px 30px 20px;
}
#logo {
  margin-block-start: 1em;
  margin-block-end: 1em;
}
#logo span {
  padding: 5px;
}
#hat img {
  height: 45px;
  padding-top: 15px;
}

#menu {
  padding-left: 20px;
  padding-right: 10px;
  width: 1500px;
  display: flex;
  align-items: center;
}

#menu-nav {
  padding-left: 100px;
}

#menu a {
  padding-left: 50px;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.2s ease;
}
#menu a:hover {
  color: #324bbd;
}

#log_out {
  padding-left: 70px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  font-size: 1.5rem;
}

.fa-sign-out {
  cursor: pointer;
  transition: all 0.5s ease;
}

.fa-sign-out:hover {
  color: #324bbd;
}

hr {
  border: 1px solid #4d4d4da4;
}
</style>
