<template>
  <div id="events">
    <div id="events-table">
      <div id="top">
        <div id="title">
          <h1>EVENTS</h1>
        </div>
        <div id="search">
          <input class="input-unvisible" id="input-search" type="text" placeholder="Search.." />
          <i class="fa fa-search fa-2x" aria-hidden="true" @click="changeSizeInput"></i>
          <i
            class="fa fa-filter fa-2x"
            style="right: 150px"
            aria-hidden="true"
            @click="filterTable = !filterTable"
          ></i>
        </div>
      </div>
      <div id="filter-table" v-if="filterTable">
        <div style="height: 100px; display: flex; align-items: center;">
          <div>
            <div style="width: 140px; float: left;">
              <span>Date range:</span>
            </div>
            <input type="date" id="start-date" name="trip-start" value="dd-mm-yy" />
            <span>-</span>
            <input type="date" id="end-date" name="trip-end" value="dd-mm-yy" />
            <select>
              <option value="all_time">All time</option>
              <option value="last_day">Last day</option>
              <option value="last_week">Last week</option>
              <option value="last_month">Last month</option>
            </select>
          </div>
        </div>
        <hr />
        <div style="height: 100px; display: flex; align-items: center;">
          <div>
            <div style="width: 140px; float: left;">
              <span>Add filter:</span>
            </div>

            <select id="first_select" style="width: 180px">
              <option v-for="colum in colums" :value="colum">
                {{
                colum
                }}
              </option>
            </select>
            <select id="second_select" style="width: 180px; margin-right: 10px">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
            <i class="fa fa-plus fa-lg" aria-hidden="true" @click="addFilters"></i>
          </div>
        </div>
        <hr v-if="filters.length > 0" />
        <div id="filter-layer" v-if="filters.length > 0">
          <div style="display: flex; align-items: center;">
            <div style="width: 140px; float: left;">
              <span>Filters:</span>
            </div>
            <div id="value-filter" v-for="(filter, index) in filters">
              <div :style="{ 'background-color': colors[index]}">
                <span>{{filter.first}}: {{filter.second}}</span>
                <div id="cross">
                  <i class="fa fa-times fa-lg" aria-hidden="true" @click="deleteFilter(filter.id)"></i>
                </div>
              </div>
            </div>

            <div style="margin-left: 10px;">
              <i class="fa fa-trash fa-lg" aria-hidden="true" @click="deleteAllFelters"></i>
            </div>
          </div>
        </div>
      </div>
      <Table @getThreads="getFirstSelect" />
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Vue from "vue";
import Table from "./Table";

export default {
  name: "events",
  data() {
    return {
      filterTable: false,
      colums: [],
      filters: [],
      colors: [
        "#80ff2c31",
        "#ff6f2c31",
        "#fff12e31",
        "#a4ff2e31",
        "#2eff4a31",
        "#2effc031",
        "#2eceff31",
        "#2e70ff31",
        "#a12eff31",
        "#ff2ed231"
      ]
    };
  },
  components: {
    Table
  },
  methods: {
    getFirstSelect(data) {
      this.colums = data.theaders;
    },

    changeSizeInput() {
      let input = document.getElementById("input-search");

      if (input.className === "input-unvisible") {
        input.className = "input-visible";
      } else {
        input.className = "input-unvisible";
      }
    },

    checkArray(filters, filter) {
      let count = 0;

      for (let f of filters) {
        if (f.first === filter.first && f.second === filter.second) {
          count++;
        }
      }

      if (count === 0) {
        return true;
      } else {
        return false;
      }
    },

    deleteFilter(id) {
      this.filters.splice(id, 1);
    },

    addFilters() {
      let first_select = document.getElementById("first_select");
      let second_select = document.getElementById("second_select");

      let first_value = first_select.options[first_select.selectedIndex].value;
      let second_value =
        second_select.options[second_select.selectedIndex].value;
      this.randomColor;
      if (first_value != null && second_value != null) {
        let filter = {
          id: this.filters.length,
          first: first_value,
          second: second_value
        };

        if (this.filters.length === 0) {
          this.filters.push(filter);
        } else if (this.checkArray(this.filters, filter)) {
          this.filters.push(filter);
        }
      }
    },
    deleteAllFelters() {
      this.filters.splice(0, this.filters.length);
    }
  }
};
</script>

<style scoped>
hr {
  border: 0.5px solid #7975758a;
  margin: 0px 30px 0px 30px;
}

#title {
  font-size: 2rem;
  margin-left: 15px;
}

#events-table {
  overflow: hidden;
  background: rgb(40, 40, 138);
  background: linear-gradient(
    0deg,
    rgba(40, 40, 138, 1) 0%,
    rgba(21, 87, 163, 1) 47%,
    rgba(1, 135, 190, 1) 100%
  );
  margin: 40px;
  border-radius: 20px;
}

#top {
  overflow: hidden;
}

#title {
  float: left;
  margin: 100px 100px 55px 100px;
}
#search {
  float: right;
  margin: 150px 150px 10px 150px;
}

#search i {
  position: absolute;
  right: 200px;
  color: #000000c4;
  cursor: pointer;
  transition: 0.2s;
}
#search i:hover {
  color: #9aaff7c4;
}

.input-visible {
  color: #ffffff;
  background: #183047d2;
  border-radius: 8px;
  float: right;
  padding: 5px;
  border: none;
  font-size: 17px;
  width: 300px;
  transition: 0.3s;
}

.input-unvisible {
  opacity: 0;
  width: 0;
  transition: 0.3s;
}

#filter-table {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0px 50px 0px 50px;
  border-radius: 8px;
  background: #171a1b93;
  transform: scaleY(0);
  opacity: 0; /*Элемент полностью прозрачный (невидимый)*/
  animation: show 0.5s 1; /* Указываем название анимации, её время и количество повторов*/
  animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
}
@keyframes show {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

#filter-table span {
  padding-left: 30px;
  font-size: 20px;
  color: #8d8d8d;
}

#filter-table i {
  color: #8d8d8d;
  cursor: pointer;
  transition: 0.5s;
}

#filter-table i:hover {
  color: #ffffffbd;
}

#start-date,
#end-date {
  background: #ffffff00;
  margin-left: 20px;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #7975758a;
}

#filter-table select {
  background: #171a1b93;
  color: #ffffff;
  width: 110px;
  height: 30px;
  border-radius: 5px;
  margin-left: 20px;
}
#filter-table select option {
  background: #171a1b93;
}

#filter-layer {
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

#value-filter {
  width: 170px;
  float: left;
  margin-left: 15px;

  border-radius: 5px;
  display: block;
}
#value-filter span {
  color: #ffffff;
  padding-left: 10px;
}
#cross {
  float: right;
  width: 13%;
  padding-top: 2px;
}
</style>
