<template>
  <div id="table">
    <table>
      <tr>
        <td></td>
        <td style="text-align: center;">Time stamp</td>
        <td style="text-align: center;">Events</td>
        <td style="text-align: center;">Host</td>
        <td style="text-align: center;">Host name</td>
        <td style="text-align: center;">Src. ip</td>
        <td style="text-align: center;">User name</td>
        <td style="text-align: center;">Dest. ip</td>
        <td style="text-align: center;">Dest. port</td>
        <td style="text-align: center;">Program</td>
      </tr>
      <tr v-for="event in data_events">
        <td>{{event.id}}</td>
        <td>{{event.time_stamp}}</td>
        <td>{{event.event}}</td>
        <td>{{event.host}}</td>
        <td>{{event.host_name}}</td>
        <td>{{event.src_ip}}</td>
        <td>{{event.user_name}}</td>
        <td>{{event.dest_ip}}</td>
        <td>{{event.dest_port}}</td>
        <td>{{event.program}}</td>
      </tr>
    </table>
  </div>
</template>


<script>
import axios from "axios";

export default {
  data() {
    return {
      data_events: [],
      errored: false,
      loading: false,
      theaders: []
    };
  },
  methods: {
    getThreads() {
      this.$emit("getThreads", {
        theaders: this.theaders
      });
    }
  },

  mounted() {
    axios
      .get("http://localhost:8000/api/events/", {
        headers: {
          Authorization:
            "Token knRUKT7LKYofsnqBsUAmqUj0d0KEU5rZyHibpCPeJr91Ie3M6Rry16S6dwDain08"
        }
      })
      .then(response => {
        this.data_events = response.data;
        this.theaders = Object.keys(response.data[0]);
        this.getThreads();
      })
      .catch(error => {
        console.log(error);
        this.errored = true;
      })
      .finally(() => (this.loading = false));
  }
};
</script>

<style  scoped>
#table {
  padding: 40px;
}
</style>