<template>
  <div id="app">
    <Hat />
    <router-view />
  </div>
</template>

<script>
import Hat from "./components/hat/Hat";

export default {
  name: "app",
  data() {
    return {
      msg: "Welcome to Your Vue.js App"
    };
  },
  components: {
    Hat
  }
};
</script>

<style>
</style>